useDynLib(ufovectors, .registration = TRUE, .fixes = "UFO_C_")

export(ufo_set_debug_mode)

export(ufo_integer)
export(ufo_numeric)
export(ufo_complex)
export(ufo_logical)
export(ufo_raw)
export(ufo_character)
export(ufo_vector)

export(ufo_integer_bz2)
export(ufo_numeric_bz2)
export(ufo_complex_bz2)
export(ufo_logical_bz2)
export(ufo_raw_bz2)
export(ufo_character_bz2)

export(ufo_integer_bin)
export(ufo_numeric_bin)
export(ufo_complex_bin)
export(ufo_logical_bin)
export(ufo_raw_bin)
export(ufo_vector_bin)

export(ufo_matrix_integer_bin)
export(ufo_matrix_numeric_bin)
export(ufo_matrix_complex_bin)
export(ufo_matrix_logical_bin)
export(ufo_matrix_raw_bin)
export(ufo_matrix_bin)

export(ufo_integer_seq)
export(ufo_numeric_seq)

export(ufo_write_protect)
export(ufo_bind)

export(ufo_psql)
export(ufo_sql_column)
export(ufo_sql_table)
export(ufo_csv)

export(test)

# Helpers
export(ufo_store_bin)
